<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ62uLeep-8COAWvy5OcUHKSD4-z314-o</string>
	<key>GCM_SENDER_ID</key>
	<string>781574781667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jasper.PhotoFinish</string>
	<key>PROJECT_ID</key>
	<string>photofinish-ee28e</string>
	<key>STORAGE_BUCKET</key>
	<string>photofinish-ee28e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:781574781667:ios:a11559b3e909fb5c4923d6</string>
</dict>
</plist>
